body{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    
    
}


#site-header{
    background-color: #4ea0ff;
    height: 100px;



}


#image{

    width: 1350px;
    height: 60px;


}


#editore1{
    color: skyblue;
    
    


}

#editore2{
    color: grey;

}

#logo{
    width: 150px ;
   
  
   





}


#editore3{
    color: gray;


}


#img{
  
  width: 800px;
  




}


#img1{
    height: 530px;
    width: 600px;
    
    



}


.editore{
    margin-bottom: 20px;




}

#titolo{
    font-size: 50px;
   


}

   
    




#table{
    background-color: blue;
    color: white;



}



#table1{
    background-color: skyblue;



}

#table2{

    background-color:rgb(205, 237, 237);


}





#table3{
    background-color: skyblue;
  

}


#foother{

    color: gray;
     



}

#foother-image{
    margin-bottom: 20px;
    


}


















    



